* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main {
  padding: 2em 0 0 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 0 0 2em 0;
}
header .logo {
  background: #ff7977;
  border-radius: 0.5em;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  padding: 1.3em 1em 1.3em 1em;
}

main {
  background: #f6f7fb;
}
main .container {
  margin: 0 auto;
  max-width: 85em;
}

.toolbar {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.toolbar .toolbar__form {
  display: flex;
  width: 70%;
}

.search-job {
  background: #f6f7fb;
  border: none;
  flex-grow: 1;
  font-size: 1.5em;
  padding: 1em;
  text-align: center;
  outline: none;
  margin-left: 50px;
  width: 40em;
}
.search-job::placeholder {
  color: #d4d8e0;
}

.search-job-button {
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  font-size: 1em;
  color: #d4d8e0;
  outline: none;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}
.search-job-button:hover {
  background: #ececee;
  color: white;
}

.job-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 2em;
  padding-bottom: 1.5em;
  padding-left: 50px;
  padding-right: 50px;
}
.job-list .job-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-bottom: 2em;
  width: 25em;
  height: 10em;
}

.job-item__logo {
  margin: 1.5em;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  max-width: 35%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
}
.job-item__logo-image {
  width: 30%;
}

.job-item__content {
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5em 0;
}

.job-item__title {
  color: #737b84;
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 0.5em;
}

.job-item__company {
  font-size: 20px;
}

.job-item__text p {
  margin: 0.5em 0 0.5em 0;
}

@media (max-width: 1024px) {
  .job-list .job-item {
    width: 20em;
  }
}

@media (max-width: 500px) {
  .job-list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .job-item__logo {
    margin-right: 1em;
  }
}

@media (max-width: 320px) {
  .job-item .job-item__logo {
    margin-right: 0.5em;
  }
  .job-item .job-item__content {
    margin-left: 0.5em;
  }
  .job-item__logo .job__logo-image {
    width: 6em;
  }
}
